@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background: #505855; 
    font-family: 'Montserrat', sans-serif;
    color: #36bb6e;
}
#contenedor{
    width: 700px;
    height: 600px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    inset: 0;
    margin: auto;
    border: 100px;
    overflow: -moz-hidden-unscrollable;
    box-shadow: 0 14px 28px #dbdbdb,
    0 10px 10px #dbdbdb;
}
#calculadora{
    background: white;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
    color: 36bb6e
;
}

#detalle{
    background: #36bb6e;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
    color: #f6f5f7;
}
.contenido{
    /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
}
input {
	width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}
button {
    font-size: 15px;
      font-weight: bold;
      padding: 12px 45px;
      border-radius: 30px;
      background-color: #36bb6e;
      border: 1px solid #ffffff;
      color: #FFFFFF;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: transform 20ms ease-in;
  }
  button:active {
	transform: scale(0.60);
}
#error{
    color: rgb(39, 5, 5);
    font-weight: bold;
    display: none;
}

.resultado{
    color: #36bb6e;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    display: none;
}
